
.transactionInput {
  display: inline-block;
}

.checkInput {
  border: 1px solid;
  height: 118px;
  line-height: 26px;
  padding-left: 14px;
}

.check {
  height: 150px;
  border: 1px solid #81B2D5;
  background-color: #E1E6EC;
  padding: 5px;
  margin-top: 23px;

  .checkTop {
    height: 40px;
  }

  .checkMid {
    height: 66px;
  }

  .checkMid p {
    font-size: 12px;
    line-height: .5px;
  }

  .checkPhoto {
    height: 38px;
    width: 50px
  }

  .checkBottom {
    height: 38px;
  }

  .right {
    float: right;
  }

  p {
    display: inline-block
  }
}

.checkContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

#flip-container {
	perspective: 480px;
  margin: auto;
}

.flip-container-switch .flipper, .flip-container-switch .flipper {
  transform: rotateY(180deg);
}


#flip-container, .front, .back {
	width: 79%;
	height: 150px;
  padding-top: 50px;
}

.flipper {
	transition: 0.9s;
	transform-style: preserve-3d;
	position: relative;
}


.front, .back {
	backface-visibility: hidden;
	position: absolute;
}


.front {
	z-index: 2;
	transform: rotateY(0deg);
  padding-left: 10%;
}

.back {
  z-index: 0;
	transform: rotateY(180deg);
  padding-right: 10%;
}

table, th, td {
    border: 1px solid black;
}

table {
  height: 150px;
  overflow-y: scroll;
  display: block;
}
