body {
  background-color: #78AFF4;
}

form {
  text-align: left;
  border: 1px solid #81B2D5;
  border-radius: 12px;
  padding-left: 10px;
  font-size: small;
}

.checkInput {
  position: fixed;
  margin: 15px;
}

.transactionInput {
  width: 50%;
  float: right;
}

.check {
  height: 264px;
  border: 1px solid #81B2D5;
  background-color: #E1E6EC;
  padding: 5px;
  margin-top: 23px;
  margin-bottom: 23px;

  .checkTop {
    height: 40px;
  }

  .checkMid {
    height: 66px;
  }

  .checkMid p {
    font-size: 12px;
    line-height: .5px;
  }

  .checkPhoto {
    height: 38px;
    width: 50px
  }

  .checkBottom {
    display: inline;
  }

  .right {
    float: right;
  }

  p {
    display: inline-block
  }
}

.checkContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

#flip-container {
	perspective: 480px;
  margin: auto;
}

.flip-container-switch .flipper, .flip-container-switch .flipper {
  transform: rotateY(180deg);
}


#flip-container, .front, .back {
	width: 79%;
	height: 300px;
  padding-top: 50px;
}

.flipper {
	transition: 0.9s;
	transform-style: preserve-3d;
	position: relative;
}


.front, .back {
	backface-visibility: hidden;
	position: absolute;
}


.front {
	z-index: 2;
	transform: rotateY(0deg);
  margin-left: 13%;
}

.back {
  z-index: 0;
	transform: rotateY(180deg);
  margin-left: 9%;
}

table, th, td {
    border: 1px solid #3CD9B5;
}

table {
  height: 253px;
  overflow-y: scroll;
  display: block;
}

.header {
  height: 200px;
  background: #26AA40; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #26AA40, #3CD9B5); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #26AA40, #3CD9B5); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #26AA40, #3CD9B5); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #26AA40, #3CD9B5); /* Standard syntax (must be last) */
  height: 84px;
  margin-right: 5%;
  margin-left: 5%;
}

.w3-center {
  text-align: inherit;
}
